<div>
  <p>Уважаемый <strong>$user.firstName $user.lastName</strong></p>
  <p>Ожидаем Вас в <strong>$fullDate</strong> для подачи заявления в приемную комиссию
    Российского Национального Исследовательского Медицинского Университета им. Н.И.Пигорова.</p>
    <p>Для входа в университет распечатате это письмо.</p>
  <p>С уважением, приемная комиссия<br/>
    <a href="mailto:prk@rsmu.ru">prk@rsmu.ru</a> </p>
</div>