<div>
  <p>Уважаемый(ая) <strong>$user.firstName $user.lastName</strong></p>
  <p>Вы запрашивали восстановление пароля на сервисе предварительной записи для подачи заявления в приемную комиссию
    Российского национального исследовательского медицинского университета им. Н.И.Пигорова.</p>
    <p>Пожалуйста, воспользуйтесь этой ссылкой <a href="$remindUrl">$remindUrl</a> для ввода нового пароля. Обращаем Ваше внимание,
      что ссылка действительна органиченное время.</p>
    <p>Просто проигнорируйте это сообщение, если запрос востановления пароля осуществлен не Вами или не от Вашего имени.</p>
  <p>С уважением, приемная комиссия<br/>
    <a href="mailto:prk@rsmu.ru">prk@rsmu.ru</a> </p>
</div>