<div>
  <p>Уважаемый(ая) <strong>$user.firstName $user.lastName</strong></p>
  <p>Вы зарегистрировались на сервисе предварительной записи для подачи заявления в приемную комиссию
    Российского национального исследовательского медицинского университета им. Н.И.Пигорова.</p>
  <p>С уважением, приемная комиссия<br/>
  <a href="mailto:prk@rsmu.ru">prk@rsmu.ru</a> </p>
  <p>Пожалуйста, не отвечайте на это сообщение</p>
</div>