<div>
  <p>Уважаемый(ая) <strong>$user.firstName $user.lastName</strong></p>
  <p>Сотрудник приемной комисии зарегистрировал Вас на сервисе предварительной записи для подачи заявления в приемную комиссию
    Российского национального исследовательского медицинского университета им. Н.И.Пигорова.</p>
    <p>Это было сделано для того, чтобы записать Вас на прием на сегодняшний день.</p>
  <p>Обратите внимание, пароль для входа в сервис предварительной записи установлен не был. Чтобы осуществлять вход в дальнейшем,
  пожалуйста, воспользуйтесь функцией <a href="https://regue.rsmu.ru/RemindPassword.htm">восстановления пароля</a>.</p>
    <p>Если Вы получили это письмо по ошибке, или регистрация произошла без Вашего ведома, просто проигнорируйте
      это сообщение.</p>

  <p>С уважением, приемная комиссия<br/>
    <a href="mailto:prk@rsmu.ru">prk@rsmu.ru</a> </p>
  <p>Пожалуйста, не отвечайте на это сообщение</p>
</div>