<div>
  <p>Уважаемый(ая) <strong>$user.firstName $user.lastName</strong></p>
  <p>Ожидаем Вас в#if($fullDate.contains('вторник'))о#end <strong>$fullDate</strong> для подачи заявления в приемную комиссию
    Российского национального исследовательского медицинского университета им. Н.И.Пигорова.</p>
  <p>Для входа в университет распечатате это письмо.</p>
  <p>Вам необходимо будет предоставить следующие документы:
    <ul>#foreach( $document in $appointment.type.documents)<li>$document.name</li>#end</ul>
  </p>
  <p>Приемная комиссия стремится сделать подачу заявления на поступление в наш университет как можно белее
    простой и удобной, поэтому мы принимаем заявления только по предварительной
    записи.</p>  <p>С уважением, приемная комиссия<br/>
  <a href="mailto:prk@rsmu.ru">prk@rsmu.ru</a> </p>
  <p>Пожалуйста, не отвечайте на это сообщение</p>
</div>