<div>
  <p>Уважаемый(ая) <strong>$user.firstName $user.lastName</strong></p>
  #if($changedByAdmin)
    <p>Приемная комиссия удалила Вашу запись на подачу документов в Приемную комиссию.</p>
    #else
      <p>Вы только что <strong>удалили</strong> Вашу запись на подачу документов в Приемную комиссию.</p>
  #end
    <p>Напоминаем, что Вы можете записаться снова, используя Ваш логин и пароль.</p>
  <p>С уважением, приемная комиссия<br/>
  <a href="mailto:prk@rsmu.ru">prk@rsmu.ru</a> </p>
  <p>Пожалуйста, не отвечайте на это сообщение</p>
</div>