<div>
  <p>Уважаемый(ая) <strong>$user.firstName $user.lastName</strong></p>
  #if($changedByAdmin)
    <p>Аттестационная комиссия удалила Вашу запись на подачу документов в Приемную комиссию.</p>
  #else
    <p>Вы только что <strong>удалили</strong> Вашу запись на подачу документов в Приемную комиссию.</p>
  #end
    <p>Напоминаем, что Вы можете записаться снова, используя Ваш логин и пароль.</p>
  <p>С уважением, аттестационная комиссия<br/>
    <a href="mailto:perevod_rsmu@rsmu.ru">perevod_rsmu@rsmu.ru</a> </p>
  <p>тел. (495) 434-22-66, доб. 50-45</p>
  <p>Пожалуйста, не отвечайте на это сообщение</p>
</div>