<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="
	 http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
 	 http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="ru.rsmu.reque.dao"/>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <!--<property name="driverClassName" value="net.sourceforge.jtds.jdbc.Driver"/>-->
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <!-- devel server -->
        <property name="url" value="jdbc:postgresql://localhost:5432/rsmu"/>
        <property name="username" value="leonid"/>
        <property name="password" value=""/>

        <!-- staging server -->
        <!--
        -->

        <!-- production server PostgreSQL -->
        <!--
        -->
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="ru.rsmu.reque.model"/>
        <property name="hibernateProperties">
            <props>
                <!--<prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>-->
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
                <!--
                                <prop key="hibernate.max_fetch_depth">6</prop>
                                <prop key="hibernate.default_batch_fetch_size">16</prop>
                -->
            </props>
        </property>
    </bean>

    <aop:config>
        <aop:pointcut id="persistentLevel" expression=
                "	execution(* ru.rsmu.reque.dao.*Dao.*(..)) "/>

        <aop:advisor advice-ref="txAdvice" pointcut-ref="persistentLevel"/>

    </aop:config>

    <!-- transaction manager -->
    <bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="make*" read-only="false" propagation="REQUIRES_NEW"/>
            <tx:method name="save*" read-only="false" propagation="REQUIRES_NEW"/>
            <tx:method name="delete*" read-only="false" propagation="REQUIRES_NEW"/>
            <tx:method name="update*" read-only="false" propagation="REQUIRES_NEW"/>
            <tx:method name="sync*" read-only="false" propagation="REQUIRES_NEW"/>

            <tx:method name="find*" read-only="true"/>
            <tx:method name="load*" read-only="true"/>
            <tx:method name="count*" read-only="true"/>
            <tx:method name="check*" read-only="true"/>
            <tx:method name="build*" read-only="true"/>
            <tx:method name="convert*" read-only="false" propagation="REQUIRES_NEW" />
        </tx:attributes>
    </tx:advice>

<!-- *** Security configuration -->

    <security:http auto-config="true" use-expressions="true">
        <security:intercept-url pattern="/admin/*" access="hasRole('ROLE_ADMIN')"/>

        <security:form-login login-page="/login.htm"
                             default-target-url="/home.htm"
                             authentication-failure-url="/login.htm?error"
                />
        <security:logout logout-url="/logout" logout-success-url="/home.htm?logout=1" />
        <security:remember-me key="rsmuRequeRememberKey" user-service-ref="userDao" />
        <security:csrf/>
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider user-service-ref="userDao">
            <security:password-encoder hash="md5"/>
        </security:authentication-provider>
    </security:authentication-manager>
</beans>